* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gallery-item {
  display: flex;
  width: 300px;
  height: 200px;
  margin: 0 16px;
  justify-content: center;
  align-items: center;
  background: #060;
  color: white;
  border-radius: 16px;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  cursor: pointer;
  transition: ease 0.5s;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item p {
  user-select: none;
}

article {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 70vh;
}

body {
  margin: 0;
  background: rgb(102,102,102);
  background: linear-gradient(0deg, rgba(102,102,102,1) 5%, rgba(187,187,187,1) 40%, rgba(102,102,102,1) 95%); 
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #333;
  color: white;
  text-align: center;
}

header {
  padding: 4px 0;
  background: #333;
  color: white;
  text-align: center;
}

li {
  padding: 0 8px;
  text-decoration: underline;
  cursor: pointer;
}

nav {
  padding: 2px 0;
  background: #090;
  color: white;
  text-align: center;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
  justify-items: center;
}